:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
html {
 font-size: 62.5%;
 box-sizing: border-box; /* Hack para Box Model **/
}
body{
    font-size: 16px;
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}


header{
    background-color: #fff;
}

@media (min-width: 480px) { /***CElular*/
    header{
        background-color: #FFC107;
    } 
    
}
@media (min-width: 768px) { /****TABLET***/
 
    header{
        background-color: #10a915;
    }
}



h2{
    font-size: 2.8rem;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
.header-title{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 700;
}
.header-title span{
    font-size: 2rem;
}
.nav-bg{
    background-color: var(--secundario);
}
.nav-menu{
    display: flex;
    flex-direction: column;
}



@media (min-width: 480px) { 
    .nav-menu{
        flex-direction: row;
        justify-content:space-between;
    }
}



.nav-menu a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}
.hero{
    background-image: url(/img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.content-hero{
    background-color: rgb(0 0 0 / 70%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}  
.ubication-hero{
    display: flex;
    align-items: flex-end;
}
button{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration:none;
    text-transform: uppercase;
    border-radius: .5rem;
    text-align: center;
    border: none;
}
.main-sombra{
    background-color: var(--blanco);
    padding: 2rem;
}
.main-sombra h2{
    text-align: center;
}
.services{
    display: flex;
}


/***Medias Queries***/

